li {
  list-style: none;
}

.jumbotron {
  font-size: 10px;
  text-align: center;
  background-image: url('../images/landing.jpg');
  padding-left: 10%;
  padding-right: 10%;
  margin: 0px;
}

.food {
  width: 100%;
  height: 212px;
  border: solid 1px black;
  background-color: white;
  margin-top: 5px;
  margin: 0px;
  position: relative;
}

/*p {
  position: relative;
  bottom: 100px;
  text-align: center;
}*/

td {
  padding: 15px;
  text-align: left;
}

# tr:hover {
  background-color: red;
  height: 106px;
  width: 25%;
}

#drink {
  /*border: solid 10px black;*/
  margin: solid white 10px;
}

.jumbotron1 {
  background-image: url('../images/foodsBg.jpg');
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

.me {
  width: 100%;
  background-color: white;
  padding-top: 0px;
  padding-bottom: 5%;
  padding-left: 0px;
  padding-right: 0px;
}

.heading {
  text-align: center;
  margin-top: 10px;
  overflow: hidden;
}

#head {
  border: solid 1px;
  background-color: #808080;
}

.bodyy {
  padding-left: 10%;
  margin-top: 10px;
  cursor: pointer;
}

#special {
  color: #FF0000;
}

.boxs {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 20%;
  padding-right: 20%;
}

.box {
  padding: 2%;
  text-align: left;
  box-shadow: 1px 1px 5px 1px #808080;
  overflow: auto;
}

#firstcolumn {
  border-right: solid 1px #808080;
}

h5 {
  text-align: center;
  color: #FF0000;
}

h6 {
  text-align: center;
}

.subscribe {
  color: #FFFFFF;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 5%;
  min-height: 300px;
  background-image: url('../images/subscribe.jpg');
}

.menu {
  position: relative;
  padding-top: 10%;
  text-align: center;
  color: #FFFFFF;
  min-height: 300px;
  background-color: #FF5733;
}
